<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://rvarunrathod.github.io/HiFidelity/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>6xp5Fu7RIlRmpuPOXiOy8U5mZXqV+fXJKiefCPSx25U=</string>
</dict>
</plist>
